<div class="jumbotron text-center">

    <h1>MEAN AUTHENTICATION APP</h1>
    <p>Welcome to our custom MEAN Authentiaction App!</p>
    <div>
      <a class="btn btn-primary" [routerLink] = "['/register']">Register</a>
      <a class="btn btn-primary" [routerLink] = "['/login']">Login</a>
    </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>Express server!</p>
    </div>

    <div class="col-md-4">
      <h3>Angular CLI</h3>
      <p>Angular Front end</p>
    </div>

    <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p>Full fledged authentication</p>
    </div>

  </div>

</div>
